* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: AvenirNext;
    src: url(./fonts/avenirnext/AvenirNextLTPro-Regular.otf)
    font-family: Avenir;
    src: url(./fonts/avenir/AvenirLTStd-Book.otf)
    font-family: HelveticaNue;
    src: url(./fonts/HelveticaNue/HelveticaNeue-UltLt.otf)
    font-family: Helvetica
    src: url(./fonts/Helvetica/Helvetica.ttf)
}

body {
    background-color: #ECEEF1;
    font-family: "AvenirNext",
    Avenir,
    HelveticaNue,
    Helvetica, 
    Arial, 
    sans-serif;
}

header {
    float: right;
    margin: 20px 70px 0 0;
    font-size: 12px;
}

header input {
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 16px;
    background-color: #0077c5;
    color: #fff;
    border-radius: 3px;
}