* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: AvenirNext;
    src: url(./fonts/avenirnext/AvenirNextLTPro-Regular.otf)
    font-family: Avenir;
    src: url(./fonts/avenir/AvenirLTStd-Book.otf)
    font-family: HelveticaNue;
    src: url(./fonts/HelveticaNue/HelveticaNeue-UltLt.otf)
    font-family: Helvetica
    src: url(./fonts/Helvetica/Helvetica.ttf)
}

body {
    background-color: #ECEEF1;
    font-family: "AvenirNext",
    Avenir,
    HelveticaNue,
    Helvetica, 
    Arial, 
    sans-serif;
}

header {
    float: right;
    margin: 20px 80px 0 0;
    font-size: 12px;
}

header a {
    color: #0077c5;
    text-decoration: none;
}

header input {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 16px;
    background-color: #0077c5;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    padding: 5px

}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 85vh;
    width: 100vw;
}

form {
    background-color: #fff;
    padding: 20px 40px;
    border: 1px solid #4c4c4c;
    border-radius: 5px;
}

.form-head {
    color: #4c4c4c;
    margin-bottom: 20px;
}

.form-head p {
    font-size: 25px;

}

p:nth-child(2) {
    margin-top: 10px;
    font-size: 20px;
}

.form-head a {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #0077c5;
}

form input {
    width: 100%;
    padding: 8px 5px;
    margin-bottom: 20px;
    margin-top: 5px;
}

input:nth-child(8) {
    background-color: #0077c5;
    color: #fff;
    border: none;
    padding: 15px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.center {
    text-align: center
}

p a {
    text-decoration: none;
    color: #0077c5;
}

footer p {
    text-align: center;
}


